<ng-container>    
  <div >
   <div class="input-group mb-3">
      <input
        type="text" 
        id="Filename"  
        name="name" 
        [(ngModel)]="name"
        class="form-control"
        placeholder="Search"
        aria-label="Example text with button addon"
        aria-describedby="button-addon1" 
        />  
        <button class="btn btn-outline-primary" type="button"  id="button-addon1" data-mdb-ripple-color="dark" (click)="reload()">
          <i class="fa fa-refresh"> Reload Data</i>
        </button>  
    </div> 
    
   <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>System ID</th>
          <th>File Path</th>
          <th>Operating System</th>
          
          <th>Status</th> 
          <th>Unlock Action</th>
        </tr>
      </thead>
      <tbody> 
        <tr *ngFor="let tableRow of tableRows; index as k" >   
          <ng-container *ngFor="let col of tableRow; index as i "   >    
            <ng-container *ngIf="!this.name">
          <ng-container *ngIf="col.toLowerCase().includes('.pdf')">  
            {{test(i)}}  
          <td >{{tableRow[0].slice(0,-1)}} </td>  
          <td > <div *ngFor="let j of tableRow | slice:1:this.elementendNumber">{{j}}</div>    
          </td>   
          <td >Windows</td>   
          <td>
            <span class="badge badge-primary "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
            </svg></span>
          </td> 
          <td>
            <button
                    type="button"
                    class="btn btn-link btn-rounded btn-sm fw-bold"
                    data-mdb-ripple-color="dark" 
                    (click)="deleteFile(tableRow[1])"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
                      <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
                    </svg>
            </button>
          </td> 
        </ng-container>
       </ng-container>  
       <ng-container *ngIf="this.name"> 
        <ng-container *ngIf="col.toLowerCase().includes(this.name)|| col.includes(this.name)">  
          {{test(i)}}  
        <td >{{tableRow[0].slice(0,-1)}} </td>  
        <td > <div *ngFor="let j of tableRow | slice:1:this.elementendNumber">{{j}}</div>    
        </td>   
        <td >Windows</td>   
        <td>
          <span class="badge badge-primary "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
          </svg></span>
        </td> 
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark" 
                  (click)="deleteFile(tableRow[1])"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
                  </svg>
          </button>
        </td> 
      </ng-container>
       </ng-container>
       <ng-container *ngIf=""> 
        <p>No data to display</p>
       </ng-container>
       </ng-container>
      </tr> 
      
     
      </tbody>
    </table>
   
</div>
</ng-container>
