
 <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3f51b5;"> 
    <div class="container"> 
        <a class="navbar-brand" routerLink='/' routerLinkActive="active" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <img src="assets/itr-logo.png" width="50" height="35" alt="features"> </a>     
        <button class="navbar-toggler collapsed" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="navbar-collapse collapse "  id="navbarColor01" [ngbCollapse]="isCollapsed" style="">
          <ul class="navbar-nav mr-auto">  
            
            <ng-container *ngIf="accountService.currentUser$ |async" > 
              <li class="nav-item navbar-right">
                <a class="nav-link" routerLink='/files' routerLinkActive="active">SOP Open Files</a>
              </li>   
              <li class="nav-item navbar-right">
                <a class="nav-link" routerLink='/studyfiles' routerLinkActive="active">StudyFolder Open Files</a>
              </li>  
              <li class="nav-item navbar-right">
                <a class="nav-link" routerLink='/schedulefiles' routerLinkActive="active">Schedule Open Files</a>
              </li> 
              <li *appHasRole="['Admin','Moderator']" class="nav-item navbar-right">
                <a class="nav-link" routerLink='/admin' routerLinkActive="active">Admin</a>
              </li> 
            </ng-container>
            </ul> 
            
       
         <div class="dropdown"  *ngIf="(accountService.currentUser$|async) as user" dropdown>  
           <img class="drop-img" src="{{user.photoUrl || './assets/user.png'}}" alt="user Photo">
           <div class="dropdown-toggle nav-link text-light text-decoration-none ms-2 "id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>Welcome {{user.knownAs }}</div> 
           <div class="dropdown-menu" mt-3 *dropdownMenu aria-labelledby="navbarDropdownMenuLink"> 
            <a href="#" class="dropdown-item" routerLink="/member/edit">Edit Profile</a>  
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item" (click)="logoutt()">Logout</a>
           </div>
          </div> 
    

  
        <form  *ngIf="(accountService.currentUser$ |async)===null" #loginForm="ngForm"  class="d-flex" role="search" (ngSubmit)="loginn()" autocomplete="off">
          
        
          <button class="btn btn-success" type="submit">Login<i class="fas fa-sign-out-alt"></i></button> 
          </form> 
          
    </div>
    </div>
  </nav>
